*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans',sans-serif;
}
body{

    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(255,127,127,1) 50%, rgba(252,176,69,1) 100%);


}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FF4A4A;
}
.logo{
    color: white;
    font-size: 32px;
}
span{
    color: #ea1538;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}

button{
    border: none;
    background-color: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;

}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.sign-up-form{
    width: 350px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background: #fff;
    opacity: 1;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.sign-up-form h1{
    color: #ea1538;
    margin-bottom: 30px;
}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
    
}
.signin-btn{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #1c8adb;
}

hr{
    margin-top: 20px;
    width: 100%;
}

img{
    width: 70px;
    margin-top: -50px;
    border-radius: 50px;
}
form p{
    margin-top: 10px;
    color: #1c8adb;
    text-align: left;
    margin-left: 7px;
}
form a{
    
    text-decoration: none;
}